html{
    font-size: 15px
  }
  body{
    font-family: Arial, 'Segoe UI', 'Roboto', sans-serif;
    font-size: 2.0rem;
    line-height: 1.0;
    text-align: center;
    margin: 0;
    background-color: rgb(187, 145, 68);
  }
  h1 {
    font-size: 1.5rem;
    margin-bottom: 0;
    color: red; 
  }
  .imgsize{
    width: 400px
  }
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 10px;
    gap: 10px;
  }
  .mydiv{
    border: 1px solid green;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
  }
  